.monthYearSelectionContainer {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.monthViewContainer {
  position: absolute;
  top: 42px;
  z-index: 2; /* z-index 2, so that overlay can take 1 */

  padding: 8px 12px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 4px;
  background-color: #fff;
}

.monthViewHeader {
  display: flex;
}

button.day {
  border: 0;
}
button.day:not(.daySelected):not(:hover) {
  background-color: transparent;
}

.day,
.monthViewHeader div {
  width: 48px;
  text-align: center;
  padding: 12px;
}

.day:hover {
  color: var(--date-picker-day-hover-foreground, #000);
  background-color: var(--date-picker-day-hover-background, rgb(210, 210, 210));
  cursor: pointer;
}

.row {
  display: flex;
}

.dayOutsideOfMonth {
  color: #8f8e8e;
}

.daySelected {
  color: var(--date-picker-day-selected-foreground, #000);
  background-color: var(
    --date-picker-day-selected-background,
    rgb(210, 210, 210)
  );
}

.select {
  padding: 4px 12px;
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
