# Duplicate this file an name it ".env.test".

AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev

# Auth-Provider: Username and password
AUTH_USERNAME_PASSWORD_URL=http://localhost:3002/

# Start: Fake Auth server (used for e2e testing)
AUTH_AUTH0_ISSUER='http://localhost:3002'
AUTH_AUTH0_TOKEN_ENDPOINT=http://localhost:3002/oauth/token
AUTH_AUTH0_ID=dummyClientId
# End: Fake Auth server (used for e2e testing)

# Auth
AUTH_AUDIENCE='https://tasksync.api.de/api'

# Services
SERVICE_TASKSYNC='https://localhost:7190'
# SERVICE_TASKSYNC='http://localhost:8080'

NODE_TLS_REJECT_UNAUTHORIZED='0'

NODE_ENV=development