# Fill in the values below.
# The token_endpoint can be found in the provider's documentation. Or if they support OIDC, 
# at their `/.well-known/openid-configuration` endpoint.

AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev

# Standard AUTH0 env vars
AUTH_AUTH0_ISSUER=
AUTH_AUTH0_ID= # The Client ID
AUTH_AUTH0_SECRET=
# Custom Auth0 env vars
AUTH_AUTH0_TOKEN_ENDPOINT= # The token_endpoint 

# Auth-Provider: Username and password
AUTH_USERNAME_PASSWORD_URL=http://localhost:3003/

# Auth
AUTH_AUDIENCE='https://tasksync.api.de/api'

# Services
SERVICE_TASKSYNC='https://localhost:7190'
# SERVICE_TASKSYNC='http://localhost:8080'

LOCAL_AUTH_API_KEY=any-api-key

NODE_TLS_REJECT_UNAUTHORIZED='0'

##############################################################################
# E2E - Uncomment following lines if running E2E locally
##############################################################################
#AUTH_AUTH0_ISSUER=http://localhost:3002/
#AUTH0_ISSUER_BASE_URL=http://localhost:3002/
#AUTH_AUTH0_TOKEN_ENDPOINT=http://localhost:3002/oauth/token
#AUTH_AUTH0_SECRET=dummy-secret-123456789
#AUTH_AUTH0_ID=dummy-AUTH_AUTH0_ID
#SERVICE_TASKSYNC=http://localhost:8080
#LOCAL_AUTH_API_KEY=any-api-key