# Fill in the values below.
# The token_endpoint can be found in the provider's documentation. Or if they support OIDC, 
# at their `/.well-known/openid-configuration` endpoint.

AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev

# Standard AUTH0 env vars
AUTH_AUTH0_ISSUER=
AUTH_AUTH0_ID= # The Client ID
AUTH_AUTH0_SECRET=
# Custom Auth0 env vars
AUTH_AUTH0_TOKEN_ENDPOINT= # The token_endpoint 

# Auth-Provider: Username and password
AUTH_USERNAME_PASSWORD_URL=http://localhost:3002/

# Auth
AUTH_AUDIENCE='https://tasksync.api.de/api'

# Services
SERVICE_TASKSYNC='https://localhost:7190'
# SERVICE_TASKSYNC='http://localhost:8080'

NODE_TLS_REJECT_UNAUTHORIZED='0'

NODE_ENV=development
