// @import "bootstrap/dist/css/bootstrap.min.css";
@import "./bootstrap-custom.scss";
@import "~bootstrap/scss/variables";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}

/* style for bootstrap icons */
.bi {
  display: inline-block;
  vertical-align: -0.125em;
  fill: currentcolor;
}

.required-field-asterisk {
  color: $danger;
}

.u-fill-danger {
  fill: $danger;
}

.u-fill-success {
  fill: $success;
}

/* Styles for rich-text-edior */
.tiptap {
  outline: none;
}

pre {
  background-color: rgb(238, 238, 238);
  padding: 0.5rem;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
