AUTH_AUTH0_ISSUER=http://localhost:3002/
AUTH_AUDIENCE=https://tasksync.api.de/api
AUTH_AUTH0_ID=dummy-AUTH_AUTH0_ID # The Client ID
# While fake-auth runs directly on developers machine, the resource server (=> the backend API)
# can be started via docker, podman or directly on developers machine as well.
# This variable tells the fake-auth to provide correct jwks_uri to the resource server.
RESOURCE_SERVER_RUNTIME_ENGINE=local # valid values: docker, podman or local