DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PW=
DB_NAME=TaskSync
# The issuer of the jwt token (which is this service itself)
TOKEN_ISSUER=http://localhost:3003
JWT_SECRET=Generate a secret by running "openssl rand -base64 32"
PORT=3003
API_KEY=